<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="espaceVert">
      <h2 data-cy="espaceVertDetailsHeading"><span jhiTranslate="angularPfaApp.espaceVert.detail.title">Espace Vert</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ espaceVert.id }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.espaceVert.libelle">Libelle</span></dt>
        <dd>
          <span>{{ espaceVert.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.espaceVert.photo">Photo</span></dt>
        <dd>
          <span>{{ espaceVert.photo }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.espaceVert.utilisateur">Utilisateur</span></dt>
        <dd>
          <div *ngIf="espaceVert.utilisateur">
            <a [routerLink]="['/utilisateur', espaceVert.utilisateur?.id, 'view']">{{ espaceVert.utilisateur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/espace-vert', espaceVert.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
