<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typePlante">
      <h2 data-cy="typePlanteDetailsHeading"><span jhiTranslate="angularPfaApp.typePlante.detail.title">Type Plante</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typePlante.id }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.typePlante.humiditeMin">Humidite Min</span></dt>
        <dd>
          <span>{{ typePlante.humiditeMin }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.typePlante.humiditeMax">Humidite Max</span></dt>
        <dd>
          <span>{{ typePlante.humiditeMax }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.typePlante.temperatureMin">Temperature Min</span></dt>
        <dd>
          <span>{{ typePlante.temperatureMin }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.typePlante.temperatureMax">Temperature Max</span></dt>
        <dd>
          <span>{{ typePlante.temperatureMax }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.typePlante.limunosite">Limunosite</span></dt>
        <dd>
          <span>{{ typePlante.limunosite }}</span>
        </dd>
        <dt><span jhiTranslate="angularPfaApp.typePlante.libelle">Libelle</span></dt>
        <dd>
          <span>{{ typePlante.libelle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/type-plante', typePlante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
